name: Prevent Nhost Pause
on:
  schedule:
    # Run at 00:00 UTC every day
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Nhost Project
        run: |
          # Replace with your Nhost project URL or GraphQL endpoint to keep it active
          curl -I https://${{ secrets.NHOST_SUBDOMAIN }}.auth.${{ secrets.NHOST_REGION }}.nhost.run/v1/healthz
